#app {
  font-family: "Lato", sans-serif;
  font-family: "Roboto Mono", monospace;

  width: 65%; /* Mengatur lebar elemen menjadi 75% dari lebar parent */
  margin: 0 auto; /* Membuat elemen rata kanan dan kiri */
  overflow: hidden;
}
.router-link-exact-active {
  font-weight: bold;
}
.btn-success {
    background-color: #2ecc71;
}

.card-product{
  border-radius: 20px;
}

.card-img-top{
  border-top-right-radius: 20px;
}


.social-icons a {
  color: #ffffff;
  margin: 0 10px;
  font-size: 20px;
  text-decoration: none;
}

.breadcrumb {
  background-color: transparent;
  padding: 0px;
  margin-left: 0px;
}

.breadcrumb ol {
  color: transparent;
  padding: 0px;
}

.breadcrumb-item.active {
  color: #2ecc71;
  font-weight: bold;
}
.img-fluid {
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 65%;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background-color: aliceblue;
  color: #3498db;
}